{% extends 'base.html.twig' %}

{% block title %}{{ 'front.menu.title.register'|trans }}{% endblock %}

{% block flashMessages %}
{% endblock %}

{% block body %}
    <main>
        <section id="login" class="paralax-mf footer-paralax bg-image sect-mt3 route overlay-bg">
            <div class="overlay-mf"></div>
            <div class="container">
                <div class="row">
                    <div class="d-flex justify-content-center">
                        <div class="col-sm-6">
                            <div>
                                <div id="login" class="box-shadow-full">
                                    <div class="row">
                                        <div class="col-12 col-sm-12">
                                            <div class="title-box-2 pt-4 pt-md-0">
                                                <h5 class="title-left text-center">{{ 'front.menu.title.register'|trans }}</h5>
                                            </div>
                                            <div>
                                                {% include 'partial/flash_messages.html.twig' %}
                                                {{ form_start(registrationForm) }}
                                                <div class="row">
                                                    {% for i in registrationForm %}
                                                        {{ form_row(i) }}
                                                    {% endfor %}
                                                </div>
                                                {{ form_end(registrationForm) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
