{% extends 'base.html.twig' %}

{% block body %}
        <!-- ======= Hero Section ======= -->
    <div id="hero" class="hero route bg-image-home">
        <div class="overlay-itro"></div>
        <div class="hero-content display-table">
            <div class="table-cell">
                <div class="container">
                    <p class="display-6 color-d">{{ 'front.page.welcome'|trans }}</p>
                    <h1 class="hero-title mb-4 yellow-me">{{ 'front.page.owner'|trans }}</h1>
                    <p class="hero-subtitle">
                        <span class="typed" data-typed-items="{{ 'front.page.hero.subtitle'|trans }}"></span>
                    </p>
                    {#                    <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> #}
                </div>
            </div>
        </div>
    </div><!-- End Hero Section -->

    <main id="main">

        <!-- ======= About Section ======= -->
        <section id="about" class="about-mf sect-pt4 route">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="box-shadow-full">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-5">
                                            <div class="about-img">
                                                <img src="{{ asset('assets/img/testimonial-2.jpg') }}" class="img-fluid rounded b-shadow-a" alt="">
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-7">
                                            <div class="about-info">
                                                <p>
                                                    <span class="title-s">{{ 'front.about.title.name-and-surname'|trans }}: </span>
                                                    <span>Tomasz Sewruk</span>
                                                </p>
                                                <p>
                                                    <span class="title-s">{{ 'front.about.title.profile'|trans }}: </span>
                                                    <span>Backend developer</span>
                                                </p>
                                                <p>
                                                    <span class="title-s">{{ 'front.about.title.email'|trans }}: </span>
                                                    <span>tomaszsewruk@gmail.com</span>
                                                </p>
                                        
                                            </div>
                                        </div>
                                    </div>
                                    <div class="skill-mf">
                                        <p class="title-s">{{ 'front.about.tech.title'|trans }}</p>
                                        <span>PHP</span> <span class="pull-right"></span>
                                        <div class="progress">
                                            <div class="progress-bar full-width" role="progressbar"></div>
                                        </div>
                                        <span>Symfony</span> - <span class="pull-right">ORM, Twig, PHPUnit</span>
                                        <div class="progress">
                                            <div class="progress-bar full-width" role="progressbar"></div>
                                        </div>
                                        <span>{{ 'front.about.tech.list.db'|trans }}</span> - <span class="pull-right">MySql, MongoDB</span>
                                        <div class="progress">
                                            <div class="progress-bar full-width" role="progressbar"></div>
                                        </div>
                                        <span>{{ 'front.about.tech.list.other'|trans }}</span> - <span class="pull-right">RabbitMQ, Docker</span>
                                        <div class="progress">
                                            <div class="progress-bar full-width" role="progressbar"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="about-me pt-4 pt-md-0">
                                        <div class="title-box-2">
                                            <h5 class="title-left">
                                                {{ 'front.menu.title.about'|trans }}
                                            </h5>
                                        </div>
                                        <p class="lead">
                                            {{ 'front.about.description.1'|trans }}
                                        </p>
                                        <p class="lead">
                                            {{ 'front.about.description.2'|trans }}
                                        </p>
                                        <p class="lead">
                                            {{ 'front.about.description.3'|trans }}
                                        </p>
                                        <p class="lead">
                                            {{ 'front.about.description.4'|trans }}
                                        </p>
                                        <p class="lead">
                                            {{ 'front.about.description.5'|trans }}
                                        </p>
                                        <p class="lead">
                                            {{ 'front.about.description.6'|trans }}
                                        </p>
                                        <p class="lead">
                                            {{ 'front.about.description.7'|trans }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End About Section -->

        <!-- ======= Portfolio Section ======= -->
        <section id="work" class="portfolio-mf sect-pt4 route">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="title-box text-center">
                            <h3 class="title-a">
                                {{ 'front.menu.title.work'|trans }}
                            </h3>
                            <p class="subtitle-a">
                                {{ 'front.work.subtitle'|trans }}
                            </p>
                            <div class="line-mf"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="work-box">
                            <a href="{{ asset('assets/img/portfolio/cap1.png') }}" data-gallery="portfolioGallery" class="portfolio-lightbox">
                                <div class="work-img">
                                    <img src="{{ asset('assets/img/portfolio/cap1.png') }}" alt="" class="img-fluid">
                                </div>
                            </a>
                            <div class="work-content">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <h2 class="w-title">Aplikacja do wyboru promotora</h2>
                                        <div class="w-more">
                                            <span class="w-ctegory">PHP 7.4, Twig</span> /
                                            <span class="w-date">18 Sep. 2018</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="w-like">
                                            <a href="portfolio-details.html">
                                                <span class="bi bi-plus-circle"></span></a>
                                            <a href="https://cap.pheste.pl/">
                                                <span class="bi bi-arrow-right"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="work-box">
                            <a href="assets/img/portfolio/test-php8-1.png" data-gallery="portfolioGallery" class="portfolio-lightbox">
                                <div class="work-img">
                                    <img src="assets/img/portfolio/test-php8-1.png" alt="" class="img-fluid">
                                </div>
                            </a>
                            <div class="work-content">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <h2 class="w-title">Test PHP 8.1</h2>
                                        <div class="w-more">
                                            <span class="w-ctegory">Docker</span> /
                                            <span class="w-date">18 Sep. 2018</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="w-like">
                                            <a href="portfolio-details.html">
                                                <span class="bi bi-plus-circle"></span></a>
                                            <a href="https://test-php8.pheste.pl/">
                                                <span class="bi bi-arrow-right"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="work-box">
                            <a href="assets/img/portfolio/test-php74-1.png" data-gallery="portfolioGallery" class="portfolio-lightbox">
                                <div class="work-img">
                                    <img src="assets/img/portfolio/test-php74-1.png" alt="" class="img-fluid">
                                </div>
                            </a>
                            <div class="work-content">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <h2 class="w-title">Test PHP 7.4</h2>
                                        <div class="w-more">
                                            <span class="w-ctegory">Docker</span> /
                                            <span class="w-date">18 Sep. 2018</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="w-like">
                                            <a href="portfolio-details.html">
                                                <span class="bi bi-plus-circle"></span></a>
                                            <a href="https://test1.pheste.pl/"> <span class="bi bi-arrow-right"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="work-box">
                            <a href="assets/img/work-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox">
                                <div class="work-img">
                                    <img src="assets/img/work-3.jpg" alt="" class="img-fluid">
                                </div>
                            </a>
                            <div class="work-content">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <h2 class="w-title">Mavrito Lana Dere</h2>
                                        <div class="w-more">
                                            <span class="w-ctegory">Web Design</span> /
                                            <span class="w-date">18 Sep. 2018</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="w-like">
                                            <a href="portfolio-details.html">
                                                <span class="bi bi-plus-circle"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="work-box">
                            <a href="assets/img/work-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox">
                                <div class="work-img">
                                    <img src="assets/img/work-4.jpg" alt="" class="img-fluid">
                                </div>
                            </a>
                            <div class="work-content">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <h2 class="w-title">Bindo Laro Cado</h2>
                                        <div class="w-more">
                                            <span class="w-ctegory">Web Design</span> /
                                            <span class="w-date">18 Sep. 2018</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="w-like">
                                            <a href="portfolio-details.html">
                                                <span class="bi bi-plus-circle"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="work-box">
                            <a href="assets/img/work-5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox">
                                <div class="work-img">
                                    <img src="assets/img/work-5.jpg" alt="" class="img-fluid">
                                </div>
                            </a>
                            <div class="work-content">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <h2 class="w-title">Studio Lena Mado</h2>
                                        <div class="w-more">
                                            <span class="w-ctegory">Web Design</span> /
                                            <span class="w-date">18 Sep. 2018</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="w-like">
                                            <a href="portfolio-details.html">
                                                <span class="bi bi-plus-circle"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="work-box">
                            <a href="assets/img/work-6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox">
                                <div class="work-img">
                                    <img src="assets/img/work-6.jpg" alt="" class="img-fluid">
                                </div>
                            </a>
                            <div class="work-content">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <h2 class="w-title">Studio Big Bang</h2>
                                        <div class="w-more">
                                            <span class="w-ctegory">Web Design</span> /
                                            <span class="w-date">18 Sep. 2017</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="w-like">
                                            <a href="portfolio-details.html">
                                                <span class="bi bi-plus-circle"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section><!-- End Portfolio Section -->

        <!-- ======= Contact Section ======= -->
        <section id="contact" class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url(assets/img/overlay-bg.jpg)">
            <div class="overlay-mf"></div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="contact-mf">
                            <div id="contact0" class="box-shadow-full">
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <div class="title-box-2 pt-4 pt-md-0">
                                            <h5 class="title-left">
                                                {{ 'front.menu.title.contact'|trans }}
                                            </h5>
                                        </div>
                                        <div class="more-info">
                                            <ul class="list-ico">
                                                <li><span class="bi bi-geo-alt"></span> Olsztyn</li>
                                                <li><span class="bi bi-envelope"></span> tomaszsewruk@gmail.com</li>
                                            </ul>
                                        </div>
                                        <div class="socials">
                                            <ul>
                                                <li>
                                                    <a href="https://www.facebook.com/TomSew22/"><span class="ico-circle"><i class="bi bi-facebook"></i></span></a>
                                                </li>
                                                <li>
                                                    <a href="https://www.linkedin.com/in/tomasz-sewruk/"><span class="ico-circle"><i class="bi bi-linkedin"></i></span></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End Contact Section -->

    </main><!-- End #main -->


{% endblock %}
