{% extends 'base.html.twig' %}

{% block title %}{{ 'front.menu.title.login'|trans }}{% endblock %}

{% block body %}
    <main>
        <section id="login" class="paralax-mf footer-paralax bg-image sect-mt3 route overlay-bg">
            <div class="overlay-mf"></div>
            <div class="container">
                <div class="row">
                    <div class="d-flex justify-content-center">
                        <div class="col-sm-6">
                            <div>
                                <div id="login" class="box-shadow-full">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="title-box-2 pt-4 pt-md-0">
                                                <h5 class="title-left text-center">{{ 'front.menu.title.login'|trans }}</h5>
                                            </div>
                                            <div>
                                                {% if error %}
                                                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                                {% endif %}
                                                <form action="{{ path('login') }}" method="post">
                                                    <div class="row">
                                                        <div class="col-md-12 mb-3">
                                                            <div class="form-group">
                                                                <label class="form-label" for="username" hidden></label>
                                                                <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" placeholder="{{ 'front.login.placeholder.login'|trans }}"/>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12 mb-3">
                                                            <div class="form-group">
                                                                <label class="form-label" for="password" hidden></label>
                                                                <input type="password" class="form-control" id="password" name="_password" placeholder="{{ 'front.login.placeholder.password'|trans }}"/>
                                                            </div>
                                                        </div>
                                                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                                        <div class="col-md-12 text-center">
                                                            <button type="submit" class="button button-a button-big button-rouded">{{ 'front.login.button.login'|trans }}</button>
                                                            <hr>
                                                        </div>
                                                        <div class="col-md-12 text-center">
                                                            <span>
                                                            {{ 'front.login.button.noAccount'|trans }}
                                                            <a href="{{ path('register') }}" class="link-primary">{{ 'front.login.button.register'|trans }}</a>
                                                                </span>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}