.yellow-me{
color: #ffff00 !important;
}

.bg-image-home {
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
background-position: center 30%;
background-image: url(../img/intro-bg.png);
background-color: rgba(0,0,0, 1);
}

.full-width {
    width: 100%;
}

.header-scrolled .scrollto, .header-colored .scrollto{
    color: #ffff00 !important;
}

#header.header-colored {
    background: rgba(0, 0, 0, 1) !important;
    padding: 12px 0 !important;
}

.overlay-bg{
    background-image: url(../img/overlay-bg.jpg);
}

.sect-mt3 {
    margin-top: 3rem;
}

.navbar-mobile ul {
    background-color: #000;
}