<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>{% block title %}pheSTe - strona promocyjna - Tomasz Sewruk{% endblock %}</title>

    <meta content="" name="description">
    <meta content="" name="keywords">

    {% block styleSheets %}
        <!-- Favicons -->
        <link href="{{ asset('assets/img/pheste_logo_35px.png') }}" rel="icon">
        <link href="{{ asset('assets/img/pheste_logo_35px.png') }}" rel="apple-touch-icon">

        <!-- Vendor CSS Files -->
        <link href="{{ asset('assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

        <!-- Template Main CSS File -->
        <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">
        <link href="{{ 'assets/css/custom.css' }}" rel="stylesheet">
    {% endblock %}
    {% block customStyleSheets %}

    {% endblock %}
</head>
<body>
{% set pathName = app.request.get('_route') %}

{% block header %}
    {% include 'partial/header.html.twig' %}
{% endblock %}

{% block flashMessages %}
    {% include 'partial/flash_messages.html.twig' %}
{% endblock %}

{% block body %}{% endblock %}

{% block footer %}
    {% include 'partial/footer.html.twig' %}
{% endblock %}

{% block preloader %}
    {% include 'partial/preloader.html.twig' %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/vendor/purecounter/purecounter.js') }}"></script>
    <script src="{{ asset('assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/glightbox/js/glightbox.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/swiper/swiper-bundle.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/typed.js/typed.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/php-email-form/validate.js') }}"></script>

    <script src="{{ asset('assets/js/main.js') }}"></script>
{% endblock %}

{% block customJavascripts %}
{% endblock %}
</body>
</html>
