<header id="header" class="fixed-top {{ pathName != 'main' ? 'header-colored' }}">
    <div class="container d-flex align-items-center justify-content-between">

        <h1 class="logo">
            <a href="{{ path('main') }}">
                phe<span class="yellow-me">ST</span>e
            </a>
        </h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav id="navbar" class="navbar">
            {{ include('partial/menu.html.twig') }}
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header>