<ul>
    <li>
        <a class="nav-link scrollto" href="{{ path('main') }}#hero">{{ 'front.menu.title.home'|trans }}</a>
    </li>
    <li>
        <a class="nav-link scrollto" href="{{ path('main') }}#about">{{ 'front.menu.title.about'|trans }}</a>
    </li>
    <li>
        <a class="nav-link scrollto" href="{{ path('main') }}#work">{{ 'front.menu.title.work'|trans }}</a>
    </li>
    <li>
        <a class="nav-link scrollto" href="{{ path('main') }}#contact">{{ 'front.menu.title.contact'|trans }}</a>
    </li>
    <li>
        {% if not app.user %}
            <a class="nav-link scrollto" href="{{ path('login') }}#login">
                {{ 'front.menu.title.login'|trans }}
                <i class="bi bi-person-fill"></i>
            </a>
        {% else %}
            <a class="nav-link scrollto" href="{{ path('logout') }}">
                {{ 'front.menu.title.logout'|trans }}
                <i class="bi bi-person-dash"></i>
            </a>
        {% endif %}
    </li>
</ul>
